* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 3rem;
  }
  
  main {
    border-color:black;
    border-style: solid;
    border-width: medium;
    min-height: 100vh;
  }

  section {
    padding-bottom: 1rem;
  }
  
  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .psu-logo {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
  }
  
  .logo-container img {
    max-width: 100px;
  }
  
  .registration_number h4 span {
    color: maroon;
  }

  .student-info-header-1 {
    background-color: #bbb5f0;
    text-align: center;
    padding: 0.3rem;
    border-bottom: solid black;
  }
  
  .student-information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  } 

  .student-name {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.1rem;
  }

  .gender-age {
    display: flex;
    gap: 2rem;
  }

  .student-info-header-2 {
    background-color: #bbb5f0;
    padding: 0.3rem;
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
  }
  .unit div {
    display: flex;
    gap: 1rem;
  }

.student-information-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
}

.subjects {
  margin-left: 2rem;
  display: flex;
  gap: 8rem;
}