* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    padding: 1rem;
    align-items: center;
  }
  
  main {
    border-color:black;
    border-style: solid;
    border-width: medium;
    min-height: 100vh;
  }

  section {
    padding-bottom: 1rem;
  }
  
  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .psu-logo {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
  }
  
  .logo-container img {
    max-width: 100px;
  }
  
  .psu-heading {
    align-items: center;
  }
  .registration_number h4 span {
    color: maroon;
  }

  .student-info-header-1 {
    background-color: #bbb5f0;
    text-align: center;
    padding: 0.3rem;
    border-bottom: solid black;
  }
  
  .student-information {
    display: flex;
    justify-content: space-evenly;
  } 

  .student-name {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 8rem;
    gap: 0.1rem;
  }

  .gender-age {
    display: flex;
    gap: 2rem;
  }

  .student-name-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.1rem;
  }

  .student-name-3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 3rem;
    gap: 0.1rem;
  }

  /* header 2 */
  
  .student-info-header-2 {
    background-color: #bbb5f0;
    padding: 0.3rem;
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .code {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 3rem;
    gap: 1rem;
  }

  .sub-title {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 1rem;
    gap: 1rem;
  }

  .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unit div {
    display: flex;
    align-items: center;
    margin-left: 8rem;
    gap: 1rem;
  }

  .student-information-2 {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
  }
  
  .subjects {
    margin-left: 2rem;
    display: flex;
    gap: 8rem;
  }
  
  .course-code {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    gap: 1rem;
  }

  .sub-title-2 {
    display: flex;
    flex-direction: column;
    margin-right: 0.50rem;
    gap: 1rem;
  }

  .units {
    margin-left: 4rem;
    display: flex;
    margin-inline-start: 1rem;
    gap: 1rem;
  }

  .unit-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .block-num {
    margin-left: 3rem;
    margin-right: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .class-sched {
    margin-left: 3rem;
    margin-right: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .prof-name {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .total-units {
    display: flex;
    margin-left: 33rem;
    gap: 1rem;
  }

  .num-units {
    display: flex;
    margin-left: 28rem;
    gap: 1rem;
  }

  .num {
    display: flex;
    margin-left: 8rem;
    gap: 1rem;
  }

  .note-1 {
    display: flex;
    text-align: right;
    margin-left: 1rem;
  }

  .assessed-fees {
    background-color: #ccd2fb;
    text-align: center;
    font-family: Arial, sans-serif;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 620px;
    margin-left: 10px;
    font-weight: bolder;
    letter-spacing: 9px;
  }

  .fees-details {
    text-align: center;
    font-family: Arial, sans-serif;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-top: 0.50px;
    margin-right: 620px;
    margin-left: 10px;
    font-weight: bolder;
  }

  .cell2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 1rem;
    gap: 0.3rem;
  }
