* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    padding: 1rem;
    align-items: center;
  }
  
  main {
    border-color:black;
    border-style: solid;
    border-width: medium;
    min-height: 100vh;
  }

  section {
    padding-bottom: 1rem;
  }
  
  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .psu-logo {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
  }
  
  .logo-container img {
    max-width: 100px;
  }
  
  .psu-heading {
    align-items: center;
  }
  .registration_number h4 span {
    color: maroon;
  }

  .student-info-header-1 {
    background-color: #bbb5f0;
    text-align: center;
    padding: 0.3rem;
    border-bottom: solid black;
  }
  
  .student-information {
    display: flex;
    justify-content: space-evenly;
  } 

  .student-name {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 8rem;
    gap: 0.1rem;
  }

  .gender-age {
    display: flex;
    gap: 2rem;
  }

  .student-name-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.1rem;
  }

  .student-name-3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 3rem;
    gap: 0.1rem;
  }

  
  .student-info-header-2 {
    background-color: #bbb5f0;
    padding: 0.3rem;
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .course-code2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 1rem;
    gap: 1rem;
  }

  .sub-title {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 0.1rem;
    gap: 1rem;
  }
  .unit {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 0.3rem;
  }
  .unit div {
    display: flex;
    align-items: right;
    margin-right: 12rem;
    gap: 1rem;
  }

.section div {
  display: flex;
  align-items: right;
  margin-right: 4em;
  gap: 0.3rem;
}

.student-information-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
}

.course-code{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.subjects {
  margin-left: 2rem;
  display: flex;
  gap: 8rem;
}

.units {
  margin-left: 4rem;
  display: flex;
  gap: 2rem;
}

.credits {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.schedule {
  margin-left: 6rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.prof {
  margin-left: 6rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.total-units {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
  gap: 3rem;
}

.num-units {
  display: flex;
  gap: 2rem;
}

.note {
  display: flex;
  margin-left: 1rem;
}